.abount {
    background: var(--Color-White);
    padding: 112px 0 108px 0;
}

.abount-block {
    text-align: center;
}

.abount-h2 {
    margin-top: 9px;
    margin-bottom: 42px;
}

.abount-p {
    margin: 0 auto;
    max-width: 540px;
}



