
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("../fonts/файл шрифта.eot");
	src: local("O"), url("../fonts/файл шрифта.woff") format("woff"), 
			url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), 
			url("../fonts/файл шрифта.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
