.work {
    background: var(--Color-Gray);
	padding: 67px 0 124px 0;

	padding: 67px 0 100px 0;

}
.container {
}
.text-h2 {
}
.work-h2 {
text-align: center;
margin-bottom: 43px;
}
.text-p {
}
.work-p {
margin: 0 auto;
max-width: 540px;
text-align: center;
margin-bottom: 65px;
}
.work-play {
display: flex;
align-items: center;
justify-content: center;
	&__item{
		width:97%;

		width: 96%;

	}
		&__botton {
				position: absolute;
				background: url(/img/play1.svg);
				width: 100px;
				height: 100px;
				border-radius: 50%;
		}
		&__botton:hover {
			position: absolute;
			background: url(/img/play1.svg);
			width: 100px;
			height: 100px;	
		}
			&__botton:active {
				position: absolute;
				background: url(/img/play1.svg);
				width: 100px;
				height: 100px;	
		}
}

.modal {
}
.work-modal {
}
.modal-content {
	display: flex;
	justify-content: center;
}
.work-modal-content {

		&__vidio {
			max-width: 1024px;
			max-height: 500px;
		}
}
